.coupleHeader{
  margin-top: 30px;
  width: 100%;
  font-family: Montserrat;
  font-size: 14px;
  padding: 20px;
}

.groom{
  -webkit-transform: rotate(-90deg);
  position: absolute;
  bottom: 125px;
  margin-bottom: 0px;
  font-size: 40px;
  width: 100%;
  margin: auto;
  font-family: "AbhayaLibre";
  color: #695A6A;
}

.theGroom{
  position: absolute;
  bottom: 50px;
  /* left: 20px; */
  text-align: center;
  margin-bottom: 0px;
  font-size: 32px;
  width: 100%;
  font-family: "AbhayaLibre";
  color: #695A6A;
}

.groomImage{
  padding : 20px;
}

.divGroom{
  align-self: end;
}

.nameGroom{
  font-family: "Montserrat";
  color: #695A6A;
  text-align: left;
  margin-left: 20px ;
  font-size:22px ;
}

.detailGroom{
  text-align: left;
  margin-left: 20px ;
  font-size: 14px;
}

.divBride{
  align-self: end;
}


.bride{
  -webkit-transform: rotate(-90deg);
  position: absolute;
  bottom: 125px;
  margin-bottom: 0px;
  font-size: 40px;
  width: 100%;
  margin: auto;
  font-family: "AbhayaLibre";
  color: #695A6A;
}

.theBride{
  position: absolute;
  bottom: 50px;
  /* left: 20px; */
  text-align: center;
  margin-bottom: 0px;
  font-size: 32px;
  width: 100%;
  font-family: "AbhayaLibre";
  color: #695A6A;
}

.brideImage{
  padding : 20px;
}

.nameBride{
  font-family: "Montserrat";
  color: #695A6A;
  text-align: right;
  margin-right: 20px ;
  font-size:22px ;
}

.detailBride{
  text-align: right;
  margin-right: 20px ;
  font-size: 14px;
  
}

.hashtag{
  background-color: #ECD4D3;
  font-family: "Montserrat";
  font-size: 18px;
  text-align: center;
  width: 100%;
  margin: 20px auto;
  padding : 20px;
}

.hashtag a{
  margin: 20px auto;
  color: #0F0B0B !important;
}

.coupleImgBg {
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  will-change: opacity;
  border-radius: 5px;
}