/* // @light-blue :#F3F7FA;
// @soft-pink: #ECD4D3;
// @hard-pink: #E6A7A2;
// @font-white: WHITE;
// @font-dark : #0F0B0B;
// @FONT-brown: #695A6A ; */
@font-face {
  font-family: AbhayaLibre;
  src: url(fonts/AbhayaLibre.woff2);
}

@font-face {
  font-family: Brittany;
  src: url(fonts/BrittanySignature.woff2);
}

@font-face {
  font-family: Butler;
  src: url(fonts/Butler.woff2);
}

@font-face {
  font-family: Cormorant;
  src: url(fonts/Cormorant.woff2);
}

@font-face {
  font-family: Montserrat;
  src: url(fonts/MontserratMedium.woff2);
  
}

@font-face {
  font-family: Riverstar;
  src: url(fonts/Riverstar.woff2);
}

@font-face {
  font-family: Bogart;
  src: url(fonts/BogartRegular.ttf);
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  color: #0F0B0B;
}

body {
  font-family: Montserrat;
  margin: 0;
}
